$imgWidth: 160px;
$imgHeight: 240px;

html {
	background: grey;
}

body {
	max-width: $imgWidth * 4;
	margin: 0 auto;
	background: white;
}

img {
	display: block;
	width: $imgWidth;
	height: $imgHeight;
}

.intro {
	padding: 1px 1em;
}

.products {
	display: flex;
	flex-wrap: wrap;
}

.product {
	position: relative;
	width: $imgWidth;
	height: $imgHeight;
}

.product-image__a,
.product-image__b {
	position: absolute;
	top: 0;
	left: 0;
}

.product-image__b {
	opacity: 0;
	transition: opacity 0.5s;
}
