html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

$imgWidth: 160px;
$imgHeight: 240px;

html {
	background: grey;
}

body {
	max-width: 1024px;
	margin: 0 auto;
	background: white;
}

.intro {
	padding: 1px 1em;
}

.products {
	display: flex;
	flex-wrap: wrap;
}

.product {
	display: block;
	position: relative;
	width: 50%;
	text-align: center;
	img {
		display: block;
		width: $imgWidth;
		height: $imgHeight;
	}
}

.product-image__a {
	margin: 0 auto;
}

.product-image__b {
	opacity: 0;
	transition: opacity 0.5s;
	position: absolute;
	top: 0;
	left: calc(50% - #{$imgWidth} / 2);
}
