html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

$imgWidth: 305px;
$imgHeight: 360px;

html {
	background: grey;
}

body {
	max-width: 1280px;
	margin: 0 auto;
	background: white;
}

.intro {
	padding: 1px 1em;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product {
	display: block;
	position: relative;
	text-align: center;
	text-decoration: none;
	img {
		display: block;
		width: $imgWidth;
		height: $imgHeight;
	}
	&:hover {
		.product-image__b.loaded {
			opacity: 1;
		}
	}
	width: $imgWidth;
	/*width: percentage(1/2);
	@media (min-width: $imgWidth*3) {
		width: percentage(1/3);
	}
	@media (min-width: $imgWidth*4) {
		width: percentage(1/4);
	}*/
}

.product-image__a {
	margin: 0 auto;
}

.product-image__b {
	opacity: 0;
	transition: opacity 0.5s;
	position: absolute;
	top: 0;
	left: calc(50% - #{$imgWidth} / 2);
}
